* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: #888;
  color: #29292e;
  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}