.ground-grid {
  align-self: flex-start;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1583606316837-e6593fa569f2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c25vdyUyMGdyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

.ground-table {
  margin-top: -5rem;

}
 .ground-table td {

      width: 500px;
      height: 100px;   

   }

   @keyframes example {
    from {background-image: url(https://cdn130.picsart.com/333711547022201.gif?to=crop&r=256);}
    to {background-image: url(https://i.pinimg.com/originals/6f/77/ca/6f77ca4a562f59f731dc38a1460c6422.gif);}
  }

.highlight-character {
  background-image: url(https://i.pinimg.com/originals/6f/77/ca/6f77ca4a562f59f731dc38a1460c6422.gif);
  background-size: contain;
  background-repeat: no-repeat;

  animation-name: example;
  animation-duration: 3s;

  position: absolute;
}

.ground {
  width: 100rem;
  position: absolute;

  top: -300px;
}

.left {
  background-image: url(https://www.pngall.com/astronaut-png);
}

  


 
